.fluid_container
    display: grid
    grid-gap: 15px
    width: 100%
    padding: 0 15px
    &.g20
        grid-gap: 20px
        padding: 0 20px
    &.g25
        grid-gap: 25px
        padding: 0 25px
    &.g30
        grid-gap: 30px
        padding: 0 30px
    &.c12
        grid-template-columns: repeat(12, 1fr)
    &.c24
        grid-template-columns: repeat(24, 1fr)
    &.w960
        max-width: 960px
        margin: 0 auto
    &.w1110
        max-width: 1110px
        margin: 0 auto
    @for $i from 1 through 24
        .fluid_#{$i}
            grid-column: span #{$i}

@media (max-width: $screen-sm)
    .fluid_container.c12
        @for $i from 1 through 12
            .fluid_#{$i}
                grid-column: span 12

    .fluid_container.c24
        @for $i from 1 through 24
            .fluid_#{$i}
                grid-column: span 24