html,
body
    margin: 0
    padding: 0

body
    font-family: Arial
    font-size: 14px
    font-weight: 100
    *
        box-sizing: border-box

pre
    margin: 0


attr[title]
    border-bottom: 1px dotted #666
    cursor: help


.padding
    padding: 10px

.muted,
.hide
    display: none

.show
    display: block

.spacer
    height: 20px
    display: block


.cursor
    &.pointer,
    &.hand
        cursor: pointer
    
    &.help,
    &.question,
    &.questionmark
        cursor: help
    