.show_small,
.show_medium,
.show_large
    display: none

.show_print
    display: none
    @media print
        display: block

.hide_print
    display: block
    @media print
        display: none

/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-sm)
    .show_small
        display: block
    .hide_small
        display: none

/* Medium devices (desktops, 992px and up) */
@media (max-width: $screen-md)
    .show_medium
        display: block
    .hide_medium
        display: none

/* Large devices (large desktops, 1200px and up) */
@media (max-width: $screen-lg)
    .show_large
        display: block
    .hide_large
        display: none