/* Images */
img.image_circle
    border-radius: 100%

img.image_round
    border-radius: 5px

img.image_framed
    padding: 5px
    border: 1px solid #ccc

.image_title[title]
    position: relative
    display: inline-block
    &:after
        background: rgba(255,255,255,0.8)
        content: attr(title)
        display: inline-block
        text-align: center
        font-size: 114.29%
        color: rgba(0,0,0,0.8)
        position: absolute
        padding: 10px 0
        right: 0
        bottom: 0
        left: 0