/* Lists */

ul,
ol
    margin: 0
    padding: 0 0 0 20px
    li
        margin: 0
        padding: 0

ul.nostyle
    padding: 0
    li
        list-style: none

ul.horizontal,
ul.inline
    display: flex
    flex-wrap: wrap
    padding: 0
    li
        list-style: none