/* Message Boxes */

.success_border
    border: 1px solid $brand-success
.success_background
    background: lighten($brand-success,35%)
.success_text
    color: $brand-success

.info_border
    border: 1px solid $brand-info
.info_background
    background: lighten($brand-info,35%)
.info_text
    color: $brand-info

.warning_border
    border: 1px solid $brand-warning
.warning_background
    background: lighten($brand-warning,35%)
.warning_text
    color: $brand-warning

.error_border
    border: 1px solid $brand-danger
.error_background
    background: lighten($brand-danger,35%)
.error_text
    color: $brand-danger