/* Text */

b
    font-weight: bold
i
    font-style: italic
small
    font-size: 90%
a.nolink
    color: inherit
    text-decoration: none
a,
.link
    color: blue

h1,
h2,
h3,
h4,
h5,
h6,
p
    margin: 10px 0
    padding: 0

h6
    font-size: 110%
h5
    font-size: 120%
h4
    font-size: 130%
h5
    font-size: 140%
h4
    font-size: 160%
h3
    font-size: 180%
h2
    font-size: 200%
h1
    font-size: 220%

.text_left
    text-align: left

.text_center,
.text_centre
    text-align: center
    justify-content: center

.text_middle
	display: inline-flex
	flex-wrap: wrap
	align-content: center
    
.text_right
    text-align: right

.text_justify
    text-align: justify
    
.text_lowercase
    text-transform: lowercase
    
.text_uppercase
    text-transform: uppercase
    
.text_capitalise,
.text_capitalize
    text-transform: capitalize