doctype html
html(lang='en')
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		title CSS Framework
		link(rel="stylesheet", href="core.css")
			
	body
		.fluid_container.c12.w960
			.fluid_12.spacer

			.fluid_3
				img.image_circle(data-clipboard-text="image_circle", src="//picsum.photos/200")
			.fluid_3
				img.image_round(data-clipboard-text="image_rounded", src="//picsum.photos/200")
			.fluid_3
				img.image_framed(data-clipboard-text="image_framed", src="//picsum.photos/200")
			.fluid_3
				.image_title(data-clipboard-text="image_title", title="text overlay")
					img(src="//picsum.photos/200")


			.fluid_6
				h1 Header 1
				h2 Header 2
				h3 Header 3
				h4 Header 4
				h5 Header 5
				h6 Header 6
				p Paragraph 

				p abcdefghijklmnopqrstuvwxyz 1234567890
				b Font in bold (b tag) 
				i Font in italic (i tag) 
				p This contains a 
					a(href="#") link
					|  in a sentance with a 
					attr(title="attribute content") attribute
				
			.fluid_6
				.text_left.info_background.info_border.padding(data-clipboard-text="text_left") .text_left
				.spacer
				.text_centre.info_background.info_border.padding(data-clipboard-text="text_centre") .text_centre / .text_center
				.spacer
				.text_justify.info_background.info_border.padding(data-clipboard-text="text_justify") .text_justify
				.spacer
				.text_right.info_background.info_border.padding(data-clipboard-text="text_right") .text_right
				.spacer
				.text_lowercase.info_background.info_border.padding(data-clipboard-text="text_lowercase") .Text_Lowercase
				.spacer
				.text_uppercase.info_background.info_border.padding(data-clipboard-text="text_uppercase") .text_uppercase
				.spacer
				.text_capitalise.info_background.info_border.padding(data-clipboard-text="text_capitalise") .text_capitalise / .text_capitalize

			.fluid_12
				a.nolink(href="#lists", name="lists")
					h1 Lists (ul and ol)
			.fluid_6
				h4 Standard List
				ul
					each val in [1,2,3,4]
						li.padding Inline list #{val}
			.fluid_6
				h4 Inline List
				ul.inline
					each val in [1,2,3,4]
						li.padding Inline list #{val}
				h4 No Style List
				ul.nostyle
					each val in [1,2,3,4]
						li.padding Inline list #{val}

			.fluid_12
				a.nolink(href="#boxes", name="boxes")
					h1 Boxes
			.fluid_6
				.info_background.info_border.padding(data-clipboard-text="info_background info_border") Information 
					span.info_text (text colour)
			.fluid_6
				.error_background.error_border.padding(data-clipboard-text="error_background error_border") Error 
					span.error_text (text colour)
			.fluid_6
				.success_background.success_border.padding(data-clipboard-text="success_background success_border") Success 
					span.success_text (text colour)
			.fluid_6
				.warning_background.warning_border.padding(data-clipboard-text="warning_background warning_border") Warning 
					span.warning_text (text colour)


			.fluid_12.spacer

		.fluid_container.c12
			.fluid_12
				a.nolink(href="#12column", name="12column")
					h1 Grid 12 Column
			
			.info_background.info_border.padding.fluid_12(data-clipboard-text="fluid_12") .fluid_12
			- var i = 1;
			- var columns = 12;
			while i < 7
				- var opposite = columns - i;
				.info_background.info_border.padding(data-clipboard-text="fluid_" + i, class="fluid_" + i) .fluid_#{i}
				.info_background.info_border.padding(data-clipboard-text="fluid_" + opposite, class="fluid_" + opposite) .fluid_#{opposite}
				- i++;

			.fluid_12.spacer

		.fluid_container.c24
			.fluid_24
				a.nolink(href="#24column", name="24column")
					h1 Grid 24 Column

			.info_background.info_border.padding.fluid_24 .fluid_24
			- var i = 1;
			- var columns = 24;
			while i < 13
				- var opposite = columns - i;
				.info_background.info_border.padding(data-clipboard-text="fluid_" + i, class="fluid_" + i) .fluid_#{i}
				.info_background.info_border.padding(data-clipboard-text="fluid_" + opposite, class="fluid_" + opposite) .fluid_#{opposite}
				- i++;

		.spacer
			
		script(type="text/javascript", src="https://unpkg.com/clipboard@2.0.4/dist/clipboard.js")
		script.
			var clipboard = new ClipboardJS('[data-clipboard-text]');

			clipboard.on('success', function(e) {
				e.trigger.setAttribute('data-tooltip','Copied!');
				setTimeout(function(){
					e.trigger.removeAttribute('data-tooltip');
				},800);
			});
		style.
			[data-tooltip]{
				position: relative;
			}
			[data-tooltip]:after{
				content: attr(data-tooltip);
				display: inline-block;
				position: absolute;
				top: 100%;
				left: 0;
				background: rgba(0,0,0,0.8);
				color: #fff;
				font-size: 85.71%;
				width: 100px;
				padding: 10px;
				border-radius: 5px;
				text-align: center;
			}